<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat romo</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

</head>
<body>	
	<script src="{{ url_for('static',filename='js/canvasFuncs.js') }}"></script>
	<script type="text/javascript">
		var PLAYER_COLORS = {};
		var canvas;
		var ctx;
		$(document).ready(function(){
			canvas = $('#gameCanvas')[0]
			ctx = canvas.getContext('2d')
			var socket = io.connect(window.location.origin); // geting ip/ hostname'http://192.168.1.116:5000');

			// socket.on('connect', function(){
			// 	socket.send('User has been connected!!!');
			// });

			socket.on('message', function(msg){
				$("#messages").append('<li>'+msg+'</li>')
				// console.log('Receiveeed')
			});

			socket.on('newPos',function(data){
				console.log(JSON.parse(data))
				paintPlayers(JSON.parse(data))
			});

			$('#sendBtn').on('click', function(){
				socket.send($('#myMess').val());
			});

			$('#TICKSBtn').on('click', function(){
				socket.send('TICKS');
			})
		});

	</script>
	<canvas id="gameCanvas" width="800" height="500">
	</canvas>

	<ul id="messages"></ul>
	<input type="text" id="myMess">
	<input type="button" id="sendBtn" value="Send">
	<input type="button" id="TICKSBtn" value="GET TIKITIKI">


	<!-- Loading JS files -->
	<script type="text/javascript">
		function function_name(argument) {
			// body...
			$(document).ready(function(){

			});
		}
	</script>
</body>
</html>